// Global Variables
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

$header-height: 60px;
$footer-height: 50px;
$marvel-red-primary: #ed1d24;
$marvel-red-secondary: lighten($marvel-red-primary, 10%);
$marvel-red-button: darken($marvel-red-primary, 10%);

#root {
  height: 100%; // Set height of App to take up the full height of the screen
  width: 100%; // Set width of App to take up the full height of the screen
  //text-align: center;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  padding: 0;
  background-color: $marvel-red-primary;
  color: white; // Font color
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  font-family: "Oswald", sans-serif;

  h1 {
    font-weight: 500;
  }

  button {
    background-color: $marvel-red-button;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: $marvel-red-secondary;
    }
  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.app-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  /* Override padding for header elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .app-body {
    flex: 1;
    overflow-y: auto;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;

    .network-container {
      padding-right: 20px;
      flex: 1;
      flex-direction: row;
      overflow: hidden;

      .social-container {
        width: 30%;
        background-color: #242424;
        padding: 20px;
        max-width: fit-content;

        .MuiCard-root {
          max-width: 350px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .social-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 5px;

            .social-title {
              font-family: "Satisfy", cursive;
              font-size: 30px;
            }

            .icon {
              cursor: pointer;
              font-size: 24px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              .liked-message {
                width: 50px;
              }
            }
          }

          .social-body {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
          }

          .image-container {
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }

          .actions {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 20px;
            margin-right: 0;
          }

          .share-buttons {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }

      .network-graph-container {
        width: 70%;
        flex: 1;

        .title-bar {
          width: 100%;
          display: flex;
          flex: 1;
          height: 30px;
          justify-content: center;
          align-items: center;
          font-family: "Oswald", sans-serif;
        }
      }
    }
  }
}

.app-footer {
  width: 100vw;
  text-align: center;
  padding: 0;
  background-color: $marvel-red-primary;
  color: white;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;

  .filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; // Allow buttons to wrap to next line if needed

    & > div {
      margin: 10px;
    }

    button {
      background-color: $marvel-red-button;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;

      &:hover {
        background-color: $marvel-red-secondary;
      }
    }
  }

  button {
    background-color: $marvel-red-button;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: $marvel-red-secondary;
    }
  }

  p {
    color: white;
  }

  .references {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: auto;
  height: 100vh;
  background-color: $marvel-red-primary;
  transition: left 0.3s ease;
  z-index: 1001;
  display: none;
  flex-direction: row;

  &.isVisible {
    display: flex;
  }

  .mobile-menu-content {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;

    .row {
      display: flex;
      flex-direction: row;
    }

    button {
      background-color: $marvel-red-button;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;

      &:hover {
        background-color: $marvel-red-secondary;
      }
    }
    .references {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .mobile-menu-button {
    width: 30px;
    background-color: $marvel-red-primary;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

// Hide Header and Footer for small screens
.app-header,
.app-footer {
  @media (max-width: 768px), (max-height: 500px) {
    display: none;
  }
}

//Show the mobile menu for small screens
.mobile-menu-button,
.mobile-menu {
  @media (max-width: 768px), (max-height: 500px) {
    display: flex;
  }
}

@media (max-width: 768px), (max-height: 500px) {
  .app-body {
    margin-left: 30px;
  }
}
